In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('flavour.csv')
df.head()

   Age  Gender       Flavour
0    6    Male     Chocolate
1    6  Female    Strawberry
2    7    Male     Chocolate
3    8  Female    Strawberry
4   11    Male  Butterscotch

In [3]:
df.tail()

    Age  Gender             Flavour
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [4]:
df['Age'].max() - df['Age'].min()

18

In [5]:
df.count()

Age        20
Gender     20
Flavour    20
dtype: int64

In [6]:
male_count = df[df['Gender'] == 'Male'].count()
female_count = df[df['Gender'] == 'Female'].count()

print(male_count, '\n', female_count)

Age        10
Gender     10
Flavour    10
dtype: int64
 Age        10
Gender     10
Flavour    10
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

gender_encoder = LabelEncoder()
gender_encoder.fit(['Male', 'Female'])

LabelEncoder()

In [8]:
df['Gender'] = gender_encoder.transform(df['Gender'])

In [9]:
df.head()

   Age  Gender       Flavour
0    6       1     Chocolate
1    6       0    Strawberry
2    7       1     Chocolate
3    8       0    Strawberry
4   11       1  Butterscotch

In [10]:
df.tail()

    Age  Gender             Flavour
15   20       0        Butterscotch
16   21       1               Coffe
17   22       0               Coffe
18   24       1  Almond & Chocolate
19   24       0               Coffe

In [11]:
X = df[['Age', 'Gender']]
y = df[['Flavour']]

In [12]:
X.head()

   Age  Gender
0    6       1
1    6       0
2    7       1
3    8       0
4   11       1

In [13]:
y.head()

        Flavour
0     Chocolate
1    Strawberry
2     Chocolate
3    Strawberry
4  Butterscotch

In [14]:
from sklearn.tree import DecisionTreeClassifier

classifier_model = DecisionTreeClassifier()
classifier_model.fit(X, y)

DecisionTreeClassifier()

In [15]:
def flavour_predicter(age, gender):    
    gender = gender_encoder.transform([gender])
    flavour = classifier_model.predict([[age, gender]])

    print('Recommended Flavour: ', flavour[0])

In [16]:
age = int(input('Age: '))
gender = input('Gender: ').capitalize()

flavour_predicter(age, gender)

Recommended Flavour:  Butterscotch